@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: 'Poppins', sans-serif;
}

.input-text {
  @apply block w-60 mt-1 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
  @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.title {
  @apply font-bold text-4xl py-12 text-center
}

.loader {
  @apply bg-gray-200 rounded-full border-4 ease-linear h-10 w-10 bg-transparent;
  border-top-color: #363ce0;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}